@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #root {
    @apply h-full;
  }

  html,
  body {
    @apply h-full;

    @apply select-none;

    /* @apply bg-slate-900; */

    @apply bg-transparent;

    @apply font-mono antialiased text-white;
    /* @apply font-mono antialiased text-slate-800; */


    @apply overflow-hidden;
  }

  ::-webkit-scrollbar {
    @apply w-1;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-slate-600 rounded-full;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
}

/* MDXEditor custom styles */
.editor-toolbar {
  @apply mx-4 mt-2 rounded-md !important;
  width: calc(100% - 2rem) !important;
}

/* Animation for the send button trail */
@keyframes dash {
  from {
    stroke-dashoffset: 20;
  }

  to {
    stroke-dashoffset: 0;
  }
}

.animate-dash {
  animation: dash 0.7s ease-in-out forwards;
}